@import "../../config";

.reviewsModal {
  & .ant-modal-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    color: #0064aa !important;
  }

  & .ant-btn {
    &.ant-btn-primary {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      font-family: "Roboto", sans-serif !important;
      font-weight: 300 !important;
      font-size: 25px !important;
      color: white !important;
      width: 275px !important;
      height: 50px !important;
    }
  }
}

.reviewsSelect {

  & .ant-select {

    & .ant-select-selection {
      display: flex;
      align-items: center;
      width: 300px !important;
      height: 50px !important;
      font-family: "Roboto", sans-serif !important;
      font-weight: 300 !important;
      font-size: 25px !important;
      color: #0064aa;
      border: 1px solid #0064aa !important;
      border-radius: 0;


      & .ant-select-arrow {
        & * {
          color: #0064aa !important;
        }
      }
    }

    &.ant-select-focused {
      box-shadow: 0 0 0 2px rgba(0, 100, 170, 0.2) !important;
    }
  }
}

@mixin reviewMarkInModalTemplate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.reviewMarkInModal {
  @include reviewMarkInModalTemplate;
  color: #4cff00 !important;

  @media screen and (min-width: 480px) {
    font-size: 28px !important;
  }

  @media screen and (min-width: 330px) and (max-width: 479px) {
    font-size: 18px !important;
  }

  @media screen and (max-width: 329px) {
    font-size: 14px !important;
  }
}

.reviewMarkTextInModal {
  @include reviewMarkInModalTemplate;
  color: #0064aa !important;
  margin-left: 16px;

  @media screen and (min-width: 480px) {
    font-size: 24px !important;
  }

  @media screen and (min-width: 330px) and (max-width: 479px) {
    font-size: 18px !important;
  }

  @media screen and (max-width: 329px) {
    font-size: 14px !important;
  }
}

.reviewsWrap {
  width: 100vw !important;
  align-self: start !important;
  align-items: start !important;
  align-content: start !important;

  & .ant-modal-body {
    padding: 24px 24px 16px 24px !important;
  }

  & .ant-modal-footer {
    display: none !important;
  }

  .newsStyle {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
    font-size: 25px !important;
    color: red !important;
  }

  & .ant-modal-title {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    color: #0064aa !important;
  }

  & .ant-input {
    font-family: "Roboto", sans-serif !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    font-style: normal !important;
    color: #393939 !important;
    border: 1px solid #0064aa;
    margin-bottom: 0 !important;

    &.ant-input::placeholder {
      font-size: 18px !important;
      font-style: italic !important;
      color: #758088 !important;
    }
  }
}

.reviewsButton {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #393939;
  height: 100% !important;
  width: 100% !important;
  border: none !important;
  padding: 0;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  box-sizing: unset !important;
  background: white !important;
  border-radius: unset !important;
  --antd-wave-shadow-color: none !important;
  margin-left: 1px !important;
}

.reviewsButtonInner {
  display: flex !important;
  flex-direction: column !important;
  line-height: 1.25 !important;
}

.reviewsButton:hover {
  font-weight: 400 !important;
  color: black !important;
  transition: 0.1s ease-out;
}

.reviewsButtonButtonInModal {
  @media screen and (min-width: 641px) {
    margin: 15px 15px;
  }
}

.reviewModal {
  width: 1024px !important;
}
