@import "../../config";

.pageReviews {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 129px 1fr;
  background: white;
  overflow-y: auto;
}

.pageReviewsAll {
  display: grid;
  align-self: start;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
}

.reviewsFilterButtons {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
}

.reviewButtonSelectSub {
  @include flexRowRelative;
  height: 50px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 25px !important;
  color: #686868 !important;
  background: white !important;
  border-radius: 0 !important;
  padding-top: 12px !important;

  &:hover {
    background: rgba(0, 100, 170, 0.1) !important;
    transition: 0.25s ease-in;
  }
}

.reviewQuote {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-family: "Consolas", monospace;
  font-weight: normal;
  font-size: 50px;
  color: #0064aa;
  line-height: 1;
  margin: 0 25px;
  padding-bottom: 7px;
}

.reviewHeader {
  display: grid;

  @media screen and (min-width: 641px) {
    grid-template-columns: 100px 250px minmax(0, 1fr);
    grid-template-rows: 100px;
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 100px 175px;
    grid-template-rows: 100px;
  }
}

.reviewAvatar {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: transparent;

  img {
    height: 64px;
    width: 64px;
  }
}

.reviewsFooterSeparator {
  display: grid;
  height: 1px;
  width: 1fr;
  background: #e8e8e8;
  margin: 28px -24px 16px -24px !important;
}

.reviewsFooter {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 120px 216px !important;
  height: 40px !important;
  width: 1fr !important;

  @media screen and (max-width: 479px) {
    justify-items: center !important;
    grid-template-columns: 120px minmax(0, 1fr) 120px !important;
  }
}

.reviewsFooterButtonCancel {
  height: 40px !important;
  width: 120px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  color: rgba(0, 0, 0, 0.65) !important;
  background: white !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;

  &:hover {
    border: 1px solid #1890ff !important;
    color: #1890ff !important;
    background: none !important;
    transition: 300ms ease-out !important;
  }

  @media screen and (min-width: 330px) and (max-width: 479px) {
    width: 120px !important;
    font-size: 18px !important;
  }

  @media screen and (max-width: 329px) {
    width: 100px !important;
    font-size: 18px !important;
  }
}

.reviewsFooterButtonSubmit {
  height: 40px !important;
  width: 200px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  margin-left: 16px !important;
  box-shadow: none !important;
  text-align: center;
  padding: 0 !important;

  @media screen and (min-width: 330px) and (max-width: 479px) {
    width: 120px !important;
    font-size: 18px !important;
    margin-right: 16px;
  }

  @media screen and (max-width: 329px) {
    width: 100px !important;
    font-size: 18px !important;
  }
}

.reviewsTitleInModal {
  font-size: 24px;
  color: #0064aa;
  line-height: 1.25;

  @media screen and (min-width: 641px) {
    margin: 20px 15px 0 15px;
  }

  @media screen and (max-width: 640px) {
    margin: 15px 0 8px 0 !important;
    font-size: ptr(96px) !important;
  }
}

.reviewsTitlePSInModal {
  font-size: 16px;
  color: #7f7f7f;
  line-height: 1;
  margin-top: 4px !important;
  text-transform: capitalize;
}

.reviewsFullTextInModal {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #393939;
  line-height: 1.25;
  text-align: start;
  white-space: normal !important;

  @media screen and (min-width: 641px) {
    margin: 30px 15px 0 15px;
  }

  @media screen and (max-width: 640px) {
    margin-top: 20px;
    font-size: ptr(72px) !important;
  }
}

.priceListTableHeader {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 502px 1px 150px 1px 150px 1px 175px 1px 175px;
  grid-template-rows: 65px !important;
  background: #0064aa;
  margin: 30px 0 0 0;
}

@mixin priceListTableTextTemplate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  @media screen and (min-width: 641px) {
    font-size: 18px;
  }

  @media screen and (max-width: 640px) {
    font-size: 16px;
  }

  color: white;
  line-height: 1;
  text-align: center;
}

.tableHeaderText {
  @include priceListTableTextTemplate;
}

.tableHeaderSeparator {
  @include flexRowRelative;
  background: white;
}

.priceListTable {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1px 500px 1px 150px 1px 150px 1px 175px 1px 175px 1px;
  grid-template-rows: 65px;

  &:hover > button {
    font-weight: 400 !important;
    color: black !important;
    transition: 0.1s ease-out !important;
  }
}

.tableSeparator {
  @include flexRowRelative;
  background: #0064aa;
}

.tableTextHeader {
  @include priceListTableTextTemplate;
  color: #393939;
  text-align: start !important;
  padding: 15px;
}

.tableText {
  @include priceListTableTextTemplate;

  @media screen and (min-width: 920px) {
    font-weight: 400;
  }

  @media screen and (max-width: 919px) {
    font-weight: 300;
  }

  color: #393939;
}

.tableSeparatorHorizontal {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 1px;
  width: 1156px;
  background: #0064aa;
}