@import "../../config";

.pageHome {
  display: grid;
  align-self: center;
  justify-self: center;
  height: 1fr;
  width: 1fr;
}

.homeTitle {
  @include flexColumnRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #393939;
  margin-bottom: 30px;
}

.homeText {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #707070;
  margin-top: 30px;

  a {
    color: #3eb5f1;

    &:hover {
      color: black;
    }
  }
}