@import "config";

@mixin Footer {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #005890;
}

.appHeader {
  display: grid;
  grid-template-columns: 353px 1fr;
  grid-template-rows: 100vh;
}

.appBar {
  display: grid;
  grid-template-columns: 353px;
  grid-template-rows: 129px 1fr 36px;
  border-right: 1px solid #d7d7d7;
  box-sizing: border-box;
}

.appBarHeader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid #d7d7d7;
  box-sizing: border-box;

  a {
    display: flex;
    flex-direction: column;
    height: 129px;
    justify-content: center;
    align-items: center;

    span {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      font-weight: 300;
      color: #1890ff;
      line-height: 48px;
    }

    &:hover {
      background: #1890ff;
      transition: 250ms ease-out;

      span {
        color: white;
        transition: 250ms ease-out;
      }
    }
  }
}

.appBarMenuButton {
  @include flexRowRelative;
  align-items: center;
  height: 96px;
  width: 352px;
  padding-left: 24px;

  a {
    @include flexRowRelative;
    align-items: center;
    height: 96px;
    width: 352px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #314659;
    transition: 250ms;
  }

  &:hover {
    a {
      color: #1890ff;
      transition: 250ms;
    }
  }
}

.appBarMenuButtonActive {
  @include flexRowRelative;
  align-items: center;
  height: 96px;
  width: 353px;
  padding-left: 24px;
  background: #e6efff;
  box-shadow: -1px 0 0 0 #1890ff inset;
  border-right: 1px solid #1890ff;

  a {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #1890ff;
  }

  &:hover {
    cursor: pointer;
  }
}

.appBarFooter {
  @include flexRowRelative;
}

.appBarFooterBuild {
  @include flexRowRelative;
  @include Footer;
  justify-content: flex-start;
  padding-left: 24px;
}

.appBarFooterLink {
  @include flexRowRelative;
  justify-content: flex-end;
  padding-right: 24px;

  a {
    @include Footer;

    &:hover {
      color: black;
    }
  }
}