@import "fonts";

html {
  font-size: 0.83333333333vw;
}

$size-base: 16px;

@function ptr($size) {
  @return #{$size / $size-base}rem;
}

@mixin flexRowRelative {
  display: flex;
  flex-direction: row;
  position: relative;
}

@mixin flexColumnRelative {
  display: flex;
  flex-direction: column;
  position: relative;
}